.game {
  display: grid;
  grid-gap: 0.5em;
  padding: 0.5em;
  grid-template-columns: 2fr 2fr 1fr 2fr 2fr;
  transition: transform 0.3s;
  min-height: 95%;
  &[data-serve='0'] .game-team[data-team='0'] .game-team-head::after,
  &[data-serve='1'] .game-team[data-team='0'] .game-team-head::after,
  &[data-serve='2'] .game-team[data-team='1'] .game-team-head::after,
  &[data-serve='3'] .game-team[data-team='1'] .game-team-head::after {
    display: block;
    background: #ffc107;
  }
  &[data-serve='0'] .game-team[data-team='0'] .game-team-player[data-player='0'],
  &[data-serve='1'] .game-team[data-team='0'] .game-team-player[data-player='1'],
  &[data-serve='2'] .game-team[data-team='1'] .game-team-player[data-player='0'],
  &[data-serve='3'] .game-team[data-team='1'] .game-team-player[data-player='1'] {
    .game-team-player-name button {
      border-color: #ffc107;
      background: #ffc107;
    }
    button[data-action='se'], button[data-action='sa'] {
      display: block;
    }
  }
  &[data-ended] {
    .game-team-action {
      opacity: 0.3;
    }
  }
  &-settings {
    height: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    select {
      max-width: 5em;
    }
  }
  &-score {
    height: 15em;
  }
  &-team {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 30% 70%;
    grid-gap: 0.5em;
    position: relative;
    &[data-team='0'] {
      grid-column: ~"1/3";
      .game-team-head {
        &-timeout {
          left: 0;
        }
        &-info, &-name {
          right: 0;
        }
      }
    }
    &[data-team='1'] {
      grid-column: ~"-3/-1";
      .game-team-head {
        &-timeout, &-name {
          right: 0;
        }
        &-info, &-name {
          left: 0;
        }
      }
    }
    &-head {
      grid-column: ~"1/3";
      position: relative;
      background: #efefef;
      overlfow: hidden;
      &::after {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 2%;
        content: '';
        display: none;
      }
      &-score {
        font-size: 7em;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        width: 100%;
        text-align: center;
      }
      &-timeout {
        position: absolute;
        top: 0;
        height: 3em;
      }
      &-info {
        position: absolute;
        top: 2%;
        font-size: 1.7em;
      }
      &-name {
        position: absolute;
        bottom: 2%;
        font-size: 1.5em;
      }
    }
    &-player-name {
      height: 10%;
      button {
        font-size: 1.2em;
        width: 100%;
        height: 90%;
      }
    }
    &-action {
      margin: 0;
      padding: 0;
      list-style: none;
      height: 90%;
      li {
        width: 100%;
        height: 100%/7;
        margin: 0;
        padding: 0;
      }
      button {
        width: 100%;
        height: 90%;
        display: block;
        position: relative;
        background: #fff;
        border-color: #28a745;
        color: #28a745;
        &::after {
          display: none;
          content: '';
          position: absolute;
          right: 0;
          top: 0;
          width: 10%;
          height: 100%;
          background: #28a745;
        }
        &[data-action='se'], &[data-action='sa'] {
          display: none;
        }
        &[data-action='se'],
        &[data-action='ae'],
        &[data-action='be'],
        &[data-action='e'] {
          border-color: #dc3545;
          color: #dc3545;
          &::after {
            background: #dc3545;
          }
        }
        &[data-last]::after {
          display: block;
        }
      }
    }
  }
  &-score {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    &-switch, &-undo {
      height: 4em;
    }
    &-switch {
      top: 0;
    }
    &-undo {
      bottom: 0;
    }
    >button {
      position: absolute;
      width: 100%;
    }
    &-sets {
      text-align: center;
      position: relative;
      font-size: 3em;
      width: 100%;
      span {
        display: inline-block;
        width: 50%;
        text-align: center;
      }
      &:after {
        display: block;
        position: absolute;
        content: ':';
        top: 0;
        left: 50%;
        width: 1em;
        margin-left: -0.5em;
        text-align: center;
      }
    }
  }
  &[data-switch] {
    transform: scale(-1, 1);
    .game-team {
      transform: scale(-1, 1);
      &[data-team='0'] .game-team-head {
        &-timeout {
          right: 0;
          left: auto;
        }
        &-info, &-name {
          left: 0;
        }
      }
      &[data-team='1'] .game-team-head {
        &-timeout {
          left: 0;
        }
        &-info, &-name {
          right: 0;
          left: auto;
        }
      }
    }
    .game-score {
      button, span {
        transform: scale(-1, 1);
      }
    }
  }
}
